<!-- <div>
    <app-image-button src="assets/fairly-odd.jpeg"></app-image-button>
    <app-image-button src="assets/avatar.jpeg" class = "test"></app-image-button>
  </div> -->

<div class="header">
  <h1>2000'S CARTOONS</h1>
</div>
  
<app-image-button [src]="winner_src" x="642px" y="407px"></app-image-button>

<div *ngFor="let round of bracket.getBracket(); index as i">
  <div *ngFor="let match of round; index as j">
    <div *ngFor="let item of match.getMatch(); index as k">
      <app-progress-bar 
        [width]="calculateBracketPositions()[i][j][k].width" 
        [height]="calculateBracketPositions()[i][j][k].height" 
        [x]="calculateBracketPositions()[i][j][k].x" 
        [y]="calculateBracketPositions()[i][j][k].y" 
        [down]="calculateBracketPositions()[i][j][k].down" 
        [right]="calculateBracketPositions()[i][j][k].right"
        [votes]="bracket.getCharVote(i, j, k)"
        [color]="bracket.getColor(i, j, k)">
      </app-progress-bar>
      <app-image-button [src]="item" [flicker]="i!=0" [x]="calculatePositions()[i][j][k][0] + 'px'" [y]="calculatePositions()[i][j][k][1] + 'px'"></app-image-button>
      <!-- <button [disabled]="i!=current_round ||  j!=current_match"(click)="onClick(k)">
        {{item}}
      </button> -->
    </div>
  </div>
</div>
